/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* HEIGHTS */
    --primary-heading-height: 2.5rem;
    --secondary-heading-height: 2rem;
    --tertiary-heading-height: 1.5rem;

    --primary-text-height: 1.25rem;
    --secondary-text-height: 1rem;

    /* COLORS */
    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #ff0000;
    --blue-color: #0000ff;
    --green-color: #00ff00;
    --yellow-color: #ffff00;
    --gray-color: #808080;
    --light-gray-color: #f4eaea;
    --light-blue-color: #5858de;
    --pastel-red: #FF8B94;
    --pastel-grey: #D3D3D3;
    --pastel-yellow: #FFF9A6;
    --pastel-green: #a4faa4;
    --pastel-blue: #AECBFA;
    --pastel-purple: #E3C8FF;
    --pastel-yellow: #ffffe0;
    --bg-color: #F8F8F8;

    /* GRADIENTS */
    --blue-gradient: linear-gradient(135deg, #828dd8,#ffffff);
}